# Entorno virtual
.venv/

# Caches de Python
__pycache__/
*.pyc

# Caches de Pytest
.pytest_cache/

# Variables de Entorno
.env

# Alembic - Solo ignorar __pycache__ dentro de alembic
alembic/__pycache__/
alembic/versions/__pycache__/

