services:
  db:
    image: postgres:18
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    container_name: feedsystemdb
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
